*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
  justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100vh;
    background-color: #d0b9f8;

}

img{
    width: 100%;
}

form {
    background-color:#a878fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    gap: 9px;

}
label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

button {
    
    background-color: blueviolet;
    color: aliceblue;
    width: 100%;
}

.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 21px;
    color: black;
}
