*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: #d6b7fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;     
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 550px;
    height: 350px;
    background-color: #a66dec;
    padding: 30px;
    border-radius: 40px;

}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-sarif;
    font-size: 25px;
}

input{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}
button{
    background-color:#6e1ef8 ;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: aliceblue;
    border-radius: 20px;
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    font-size: 21px;
    color: black;
}